<!DOCTYPE html>
<html>
<head></head>
<body>
<p> Dear <%= @user.name %>,</p>
<p style="padding-left:5em"><%= @message.message %></p>
<p style="padding-left:10em;font-size:9px"> Sent by FunMailer!</p>
</body>
</html>
